// js generates class '.page__{rootClass}' that wraps the content in your page added to the root tag
// Found in Routes.js as the rootClass

.pref-email {
  
    .pref-email__info {
        .pref-email__info-head {
            font-size: var(--pf-global--FontSize--xl);
            padding-bottom: 16px;
        }

        .pf-l-flex > div:first-of-type {
            margin-left: var(--pf-global--gutter);
        }

        .pf-c-card__body .pf-l-flex div:first-of-type {
            margin-right: 111px;
        }
    }

  .pref-email_subheader {
    margin-top: 8px;
    font-size: var(--pf-global--FontSize--md);
    font-weight: var(--pf-global--FontWeight--normal);
  }

  .pref-u-bold { font-weight: var(--pf-global--FontWeight--bold); }
  
  .pf-c-data-list {
      border: 0;

      .pref-c-title {
          // min and max width, because data lists
          min-width: 155px;
          max-width: 155px;
      }
      .pf-c-data-list__item:last-of-type { border: 0; }
  }
}
